#container{
    position: absolute;
    width: 1366px;
    height: 768px;
    font-family: 'Gothic A1', sans-serif;
    color: white; 
    background-color:black; 
}

img{
    transform: scale(0.5);
    border-radius: 20px;

}
section{
    border-radius: 20px;
    transition: all 1.5s;
}

#blue:hover{
    transform: scale(1.1);
    transition: all 1.5s;
}
#pink:hover{
    transform: scale(1.1);
    transition: all 1.5s;
}

#green:hover{
    transform: scale(1.1);
    transition: all 1.5s;
}

h3{
    font-size: 35px;
    
}

#start{
    position:absolute;
    font-family: 'Gothic A1', sans-serif;
    font-weight:100;
    text-align: center;
    left: 400px;
    top: -10px;
    font-size: 65px;
}

ul{
    padding-top: 5px;
    position: absolute;
    top: 60px;
    left: 46px;
    line-height: 25px;
    font-weight: 200px;
    font-size: 15px;
}

#green{
    position: absolute;
    width: 788px;
    height: 238px;
    background-color: #07a13d;
    left: 289px;
    top: 195px;
}

#green:hover{
    background-color: #00852e;
}

#pink{
    position: absolute;
    width: 379px;
    height: 238px;
    background-color: #FF8A5B;
    left: 289px;
    top: 459px;
}

#pink-game{
    width: 600px;
    height: 208px;
    background-color: #FF8A5B;
    margin-left: 166px;
}

#pink:hover{
    background-color: #eb5c23;
}

#blue{
    position: absolute;
    width: 379px;
    height: 238px;
    background-color: #EA526F;
    left: 698px;
    top: 459px;
}

#blue-game{
    width: 600px;
    height: 208px;
    background-color: #EA526F;
}

#blue:hover{
    background-color:#e43555;
}

#spotify-title{
    position: absolute;
    left: 371px;
    top: 37px;
    font-weight: 500;
    font-size: 65px;
}

#gameplayer-title{
    position: absolute;
    left: 611px;
    top: 27px;
    font-weight: 200;
    font-size: 65px;
}

#rules{
    position: relative;
    justify-content: center;
    text-align: center;
    top: -7px;

}

#player1, #player2{
    text-align: center;
    justify-content: center;
}

#dl{
    position: absolute;
    
}

#dl{
    position: absolute;
    left: -61px;
    top: 60px;
}

#dv{
    position: absolute;
    left: -61px;
    top: 60px;
}

#trigger{
    border-radius: 30px;
    position: absolute;
    background-color:#6184D8;
    color: white;
    padding: 15px;
    border: none;
    left: 1175px;
    top: 384px;
    transform: scale(1.7);
    text-align: center;
    transition: all 1.5s;
}

#trigger:hover{
    transform: scale(1.9);
    transition: all 1.5s;
    background-color: #4876e4;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: all 1.5s;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: all 1.5s;
}


footer{
    position: absolute;
    display: flex; 
    padding-left: 10px;
    padding-top: 20px;
    top: 710px;

}

footer a{
    font-size: 12px;
    padding: 0px 10px 10px 10px;
    color: white;
    text-decoration: none;
}

#startgame{
    text-align:center;
    border-radius: 30px;
    position: absolute;
    background-color:#07a13d;;
    color: white;
    padding: 15px;
    border: none;
    transform: scale(1.05);
    justify-content: center;
    left: 484px;
    top: 150px;
    transition: all 0.5s;
    padding: 20px;
}

#startgame:hover{
    transform: scale(1.3);
    transition: all 1.5s;
    background-color: #00852e;
}


#gamecontrol{
    position: absolute;
    top: 200px;
}

#dl-game{
    position: absolute;
    left: -60px;
    top: -20px;
}

#dv-game{
    position: absolute;
    left: 930px;
    top: -20px;
}

#game-bar{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    /* padding-top: 560px; */
    height: 210px;
    top: 558px;
}

#dl-play-bar{
    display: flex;
    padding-top: 100px;
    padding-left: 60px;
}

#dv-play-bar{
    display: flex;
    padding-top: 100px;
    padding-left: 290px;
}

.play{
    transform: scale(0.5);
}

#dl-progress{
    background-color: white;
    height: 5px;
    width: 240px;
    margin-top: 70px;
    margin-left: -230px;
    border-radius: 20px;
}

#dv-progress{
    background-color: white;
    height: 5px;
    width: 240px;
    margin-top: 70px;
    margin-left: -238px;
    border-radius: 20px;
}

#game-player1{
    position: absolute;
    padding-left: 370px;
    top: 10px;
    font-weight: 100;
}

#game-player2{
    position: absolute;
    top: 10px;
    font-weight: 100;
    margin-left: -210px;
}

#one-score{
    position: absolute;
    padding-left: 150px;
    font-size: 70px;
    margin-top: -4px;
    font-weight: 500;
}

#two-score{
    position: absolute;
    font-size: 70px;
    margin-top: -4px;
    left: 880px;
    font-weight: 500;
}

/* #roll{
    border-radius: 30px;
    position: absolute;
    background-color:#6184D8;
    color: white;
    padding: 15px;
    border: none;
    left: 1175px;
    top: 384px;
    transform: scale(1.7);
    text-align: center;
} */

#quit{
    border-radius: 30px;
    position: absolute;
    background-color:#6184D8;
    color: white;
    padding: 15px;
    border: none;
    left: 1060px;
    top: -164px;
    transform: scale(1);
    text-align: center;
}

#started-game{
    position: absolute;
    font-weight: 100;
    top: -155px;
    left: 1070px;
}

#gamecontrol{
    position: absolute;
    width: 1366px;
    height: 200px;
}

#actions{
    /* position: absolute; */
    display: flex;
    flex-direction:row;
    /* left: 500px; */
    width: 1366px;
    margin-left: 605px ;
    margin-top: 50px;;
}

#roll{
    border-radius: 30px;
    position: absolute;
    background-color:#6184D8;
    color: white;
    padding: 10px;
    border: none;
    transform: scale(1.5);
    top: 40px;
    left: 665px;
}


#game{
    position: absolute;
    width: 1366px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 80px;
}

#roll-prompt{
    position: absolute;
}

#rollagain, #pass{
    border-radius: 30px;
    /* position: absolute; */
    background-color:#6184D8;
    color: white;
    padding: 10px;
    border: none;
    transform: scale(1);
    /* text-align: center; */
}

#winner{
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
    color:white;
    background-color:black;
}

.message{
    position: absolute;
    top: 10px;
}

#trophy{
    transition: all 1.5s;
}

#trophy:hover{
    transform: scale(1.5);
    transition: all 1.5s;
}

#dv-track{
    position: absolute;
    transform: scale(0.9);
    margin-top: 60px;
    margin-left: -30px;
}

#dl-track{
    position: absolute;
    transform: scale(0.9);
    margin-top: 60px;
    margin-left: -30px;
}