#container{
    height: 3072px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
}

h1{
    position: relative;
    font-weight: bold;
    font-size: 64px;
    line-height: 85px;
}

h2{
    position: relative;
    font-weight: normal;
    font-size: 30px;   
    text-align: center;
}

h3{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

p {
    position: relative;
    font-weight: normal;
    font-size: 16px;   
}

#title > h1{
    top: 260px;
    text-align: center;
}

#title > h2{
    top: 215px;
}

#title > p {
    text-align: center;
    top: 230px;
}

#sunatya > h1 {
    position: relative;
    top: 530px;
    left: 70px;
}

#sunatya > h3{
    position: relative;
    top: 480px;
    left: 70px;
}

#jhankaar > h1 {
    left: 70px;
    top: 1000px;
}

#jhankaar > h3{
    position: relative;
    top: 950px;
    left: 70px;
}

nav{
    display: flex;
}

#jhankaar-1 {
    position: relative;
    background-color: #394972;
    left: 70px;
    top: 970px;
}

#jhankaar-2 {
    position: relative;
    background-color: #CD784B;;
    left: 100px;
    top: 970px;
}

#jhankaar-3 {
    position: relative;
    background-color: #D44A2D;;
    left: 130px;
    top: 970px;
}

#jhankaar-4 {
    position: relative;
    background-color: black;
    left: 160px;
    top: 970px;
}

#sunatya-1 {
    position: relative;
    background-color: #F1BE71;
    left: 70px;
    top: 500px;
}

#sunatya-2 {
    position: relative;
    background-color:#676753;
    left: 100px;
    top: 500px;
}

#sunatya-3 {
    position: relative;
    background-color: white;
    left: 130px;
    top: 500px;
}

#sunatya-4 {
    position: relative;
    background-color: #787375;
    left: 160px;
    top: 500px;
}

#coming-soon > h1{
    position: relative;
    top: 1530px;
    text-align: center;
}

#coming-soon > h3{
    position: relative;
    top: 1490px;
    text-align: center;
}

.color-palette{
    width: 50px;
    height: 50px;
    border-radius:50px ;
}

#arrow {
    position: relative;
    left: 700px;
    top: 220px;
}

.title{
    background-color: white;
    transition: all 0s;
}

.sunatya{
    background-color: #F3E8EA;
    transition: all 3s;
}

.jhankaar{
    background-color: #9297AD;
    transition: all 3s;
}

.sanfrancisco{
    background-color: #B3A7BA;
    transition: all 3s;
}

.pumpkinpatch{
    background-color: #D59585;
    transition: all 3s;
}

.burlingame{
    background-color: #BCCCDE;;
    transition: all 3s;
}

#sunatya-img-1 {
    position: relative;
    top: 141px;
    left: 591px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#sunatya-img-2 {
    position: relative;
    top: -136px;
    left: 601px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#sunatya-img-3 {
    position: relative;
    top: 139px;
    left: 380px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
